---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Florent Murat" description="A propros de Florent Murat Développeur Web de Lumière">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero	
				title="About"
				tagline="Merci de prendre le temps de visiter mon portfolio. Je me présente qui je suis dans ce rôle de développeur...de lumière."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="about me and us together"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Présentation</h2>
				<div class="content">
					<p>
						Hello, avant tout je me présente, Florent Murat donc comme vous l'aurez sans doute compris de métier je suis , développeur , formateur et accompagnateur de
						vos projets web.
						Issus d'une reconversion dans ce domaine depuis 2015, j'ai traversé les années acquérant de l'expérience, de la région parisienne à la Bretagne et 
						même à distance pour une entreprise Bordelaise. Apprenant à comprendre, et encore aujourd'hui j'apprend toujours, ce qui me plait dans cet univers, et ce qui fait
						partis de moi.  
					</p>
				</div>
				<div class="content">
					<p>
						Mais j'ai traversé ces expériences de développeur à travers aussi mon coeur, et compris qu'être technique, n'empêche pas "d'être", et je suis aussi dans la comtemplation
						de mon âme, essayant de vivre la spiritualité. J'ai appris à faire confiance à mon intuition, mes capacités techniques étant au service de chose plus profonde, où réside mon,
						notre vrai pouvoir.
						Donc je suis ce que je suis, un développeur dans la lumière de son coeur, et j'écoute, j'apprend, je donne dans toute la bienveillance et tout ce que je peux apporter. 
					</p>
					</div>
				<div class="content">
					<p>
						Enfin j'adore donc la nature, autant que pouvoir jouer tout autant derrière mon ordinateur, m'inspirer de lecture profonde, comme me détendre sur des bandes dessinées ou certain
						manga. Faire de la musique douce, électro, de la dub pourquoi pas en passant par le bol tibétain, tout en méditant ou en profitant juste de ce qui est, je profite de la vie et passionnément!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Je ne vais pas vous embêter avec cette section, car pour moi le plus important et de voir et comprendre ce que l'on est aujourd'hui.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
